.personal-info {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.general-info-section {
  padding-top: 20px;
}

.title-tag {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.education-info-section,.experience-info-section {
   padding-top: 20px;
}

.education,.experience {
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}

.experience-outer-div {
  display: flex;
  flex-direction: column;
}

.top-section,.bottom-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom-section {
  margin-top: 20px;
}

.personal-info-div,.education-info-section,.experience-info-section{
  padding-bottom:50px;
  border: 1px solid gray;
}

.submit-button {
  padding:10px 30px;
  margin-top: 20px;
  background-color: pink;
  border:none;
}