.personal-info {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.general-info-section {
  padding-top: 20px;
}

.title-tag {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.education-info-section,.experience-info-section {
   padding-top: 20px;
}

.education,.experience {
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}

.experience-outer-div {
  display: flex;
  flex-direction: column;
}

.top-section,.bottom-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom-section {
  margin-top: 20px;
}

.personal-info-div,.education-info-section,.experience-info-section{
  padding-bottom:50px;
  border: 1px solid gray;
}

.submit-button,.Edit-button {
  padding:10px 30px;
  margin-top: 20px;
  background-color: pink;
  border:none;
}

.personal-info-display {
  display: flex;
  justify-content: center;
}

li{
  margin-right: 20px;
}

.per-div {
  margin-top: 20px;
}

.edu-div-top,.edu-div-bottom {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

}
.edu-div-top p ,.edu-div-bottom p{
  margin-bottom: 10px;
}

.edu-div {
  display: flex;
  justify-content: center;
}

.res-para {
  width:500px;
  text-align: center;
  margin: 0 auto;
}